<app-navigation></app-navigation>
<div class="full">
  <div class="cardtable">
    <table class="table table-striped">
      <thead>
        <th>no</th>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
      </thead>
      <tbody>
        <tr *ngFor="let data of datas;let i=index">
          <td>{{i+1}}</td>
          <td>{{data.name}}</td>
          <td>{{data.price}}</td>
          <td>{{data.quantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <button mat-fab color="primary" (click)="toggle()">+</button>
  </div>
  <!-- <div class="example-box" cdkDrag [ngStyle]="{'visibility':show === true ? 'visible' : 'hidden'}">
    <mat-form-field appearance="outline" style="width: 70%;">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter item name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 70%;">
      <mat-label>Alias</mat-label>
      <input matInput placeholder="Enter item alias" formControlName="alias"
        autocomplete="new-password">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 70%;">
      <mat-label>Price</mat-label>
      <input matInput placeholder="Enter item price" formControlName="price">
    </mat-form-field>
  </div> -->
</div>