body{background: seagreen;}
.row{margin: 0px;}
.cardbox{background: white;margin: 100px 50px;border-radius: 5px;}
@media screen and (max-width: 768px){.cardbox{margin: 20px 0px;}}
.col-md-4,.col-md-8{padding: 20px;}
.col-md-4{border-bottom-left-radius: 5px;border-top-left-radius: 5px;}